/*     
     '( 
    "' //}
   ( ''"
   _||__ ____ ____ ____
  (o)___)}___}}___}}___}
  'U'0 0  0 0  0 0  0 0  
*/
* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/bg.jpg");
    background-size: 100%;
}

.trainHead {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    height: 70%;
}

.giphMe {
    height: 120px;
}

.display-4 {
    margin-top: -7.5%;
}

.currentTrain {
    margin-left: auto;
    margin-right: auto;
    margin-top: -2%;
    width: 60%;
}

th {
    padding: 1%;  
}

td {
    padding: 0 1% 1% 1%;
}

tbody {
    background: white;
    color: black;
    border: solid 2px rgb(138, 103, 9)
}

thead {
    border-radius: 44px;
}

.formMe {
    background: white;
    width: 75%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px rgb(71, 115, 4);
    border-radius: 16px;
    padding: 1%;
}

input[type=text], select {
    width: 100%;
    margin-top: -2%;
    padding-left: 1%;
    margin-bottom: 1%;
    display: inline-block;
    border: 1px solid rgb(19, 21, 131);
    border-radius: 4px;
    box-sizing: border-box;
}

.addTrain {
    text-align: center;
    font-size: 22px;
    width: 100%;
}

.colorMe {
    background: darkolivegreen;
    border: solid 2px rgb(138, 103, 9);
    color: white;
    font-size: 20px; 
}

.texty {
    margin-bottom: -.05%;
}



